html,body{
    height: 100%;
}
.row{
    margin: 0 !important;
}
.red{
    color: #ed1d24;
}

body{
    background-color: #ededed;
}
.home_logo{
    width: 258px;
    height: 40px;
    display: block;
    overflow: hidden;
    margin: 40px 0 50px 45px;
    float: left;
    display: none;
}

h1{
    font-weight: normal;
    color: #ed1d24;
    text-align: center;
}
.form-container{
    background-color: #FFF;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2)
}
p{
    text-align: center
}
form{
    margin: 50px auto;
    display: block;
}
.form-group{
    margin-bottom: 20px;
    border-bottom: 1px dashed #ededed;
    padding-bottom: 10px
}
.form-group.last{
    /* 	margin-bottom: 5px !important; */
}
.form-group .help{
    font-size: 12px;
    font-style: italic;
    margin-top: 8px;
}
h4, label{
    font-weight: 400;
    font-size: 16px;
    margin-left: 4px;
    color: #658632;
}
.input-groups label{
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #676768;
    font-size: 90%;
}

h4{
    font-weight: bold;
}
input{
    outline: none;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
input[type="email"],input[type="text"]{
    width: 100%;
    min-width: 300px;
    height: 35px;
    text-align: right;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    padding: 0px 15px;
}
input[type="email"]:focus,input[type="text"]:focus{
    border: 1px solid #aaa;
}
input[type="submit"]{
    width: 100%;
    min-width: 300px;
    height: 35px;
    background-color: #ed1d24;
    border: none;
    color: #FFF;
    border-radius: 5px;
    padding: 0px 15px;
}
input[type="submit"]:hover{
    background-color: #c11a1f;
}

textarea.form-control {
    height: 110px !important;
}

.help-block.form-error{
    font-size: 12px
}